**/.Rproj.user
**/.Rhistory
**/*_cache
node_modules
**/node_modules/
**/build
**/*.log
**/*.pem
**/*.key
**/*.cert
.vscode
**/*.lock
**/*.save
**/*.bak
**/*.swp
**/*~
**/*.bak*
**/*.*bak*
**/*.bak.*
**/*.bak/
**/bak
**/temp
**/tmp
**/tmp.*
**/tmp*.*
**/~$*.docx
**/.cache
**/cache
**/ocpu-rcache
**/__pycache__
**/dist
**/dist_*
.Rproj.user
.Rprofile
**/oisst-avhrr-v02r01.202205*.nc
**/oisst-avhrr-v02r01.202204*.nc
**/monthly_anom_icemask/*04*.nc
**/sst.mnmean.nc
**/predict_anom_1982_*_nc.RData
**/.env
**/*.zarr
**/*.nc
**/src.egg-info
**/*.mat
**/test*_cwa*.json
**/test*_cwa*.csv
**/test*_marea*.json
**/test*_marea*.csv
**/test*_result*_cwa*.png
**/test*_data*.csv
**/test*_noaa*.json
**/test*_noaa*.csv
**/test*_result*_noaa*.png
**/.python*
**/TPXO9_atlas_v5
**/data
