[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "==23.0.0"
matplotlib = "==3.10.1"
netcdf4 = "==1.7.3"
numcodecs = "==0.15.1"
numpy = "==2.3.4"
orjson = "==3.11.4"
polars = "==1.35.2"
pydantic = "==2.12.4"
pytmd = "==2.2.8"
requests = "==2.32.5"
scipy = "==1.16.3"
uvicorn = "==0.38.0"
xarray = "==2025.10.1"
zarr = "==2.18.7"
dask = {extras = ["complete"], version = "==2025.11.0"}
fastapi = {extras = ["standard"], version = "==0.121.1"}
pandas = {extras = ["pyarrow"], version = "==2.3.3"}

[dev-packages]

[requires]
python_version = "3.11"
