[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "==23.0.0"
matplotlib = "==3.10.1"
netcdf4 = "==1.7.2"
numcodecs = "==0.15.1"
numpy = "==2.2.4"
orjson = "==3.10.16"
polars = "==1.27.1"
pydantic = "==2.11.3"
pytmd = "==2.2.3"
requests = "==2.32.3"
scipy = "==1.15.2"
uvicorn = "==0.34.1"
xarray = "==2025.3.1"
zarr = "==2.18.6"
dask = {extras = ["complete"], version = "==2025.3.0"}
fastapi = {extras = ["standard"], version = "==0.115.12"}
pandas = {extras = ["pyarrow"], version = "==2.2.3"}

[dev-packages]

[requires]
python_version = "3.11"
