[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
basemap = "==1.4.1"
basemap-data = "==1.3.2"
basemap-data-hires = "==1.3.2"
fastapi = "==0.110.0"
matplotlib = "==3.8.3"
netcdf4 = "==1.6.5"
numcodecs = "==0.12.1"
numpy = "==1.26.4"
polars = "==0.20.15"
pydantic = "==2.6.4"
pytmd = "==2.1.0"
requests = "==2.31.0"
scipy = "==1.12.0"
xarray = "==2024.2.0"
zarr = "==2.17.1"
src = {file = ".", editable = true}
gunicorn = "==21.2.0"
uvicorn = "==0.28.0"
dask = {extras = ["complete"], version = "==2024.3.0"}
pandas = {extras = ["pyarrow"], version = "==2.2.1"}

[dev-packages]

[requires]
python_version = "3.11"
