dask[complete]==2024.12.0
fastapi[standard]==0.115.6
gunicorn==23.0.0
matplotlib==3.8.4
netCDF4==1.7.2
numcodecs==0.13.0
numpy==2.2.0
orjson==3.10.12
pandas[pyarrow]==2.2.3
polars==1.17.1
pydantic==2.10.3
pyTMD==2.1.8
Requests==2.32.3
scipy==1.14.1
uvicorn==0.34.0
xarray==2024.11.0
zarr==2.18.4
