basemap==1.4.1
basemap_data==1.3.2
basemap_data_hires==1.3.2
dask[complete]==2024.3.0
fastapi==0.110.0
gunicorn==21.2.0
matplotlib==3.8.3
netCDF4==1.6.5
numcodecs==0.12.1
numpy==1.26.4
pandas[pyarrow]==2.2.1
polars==0.20.15
pydantic==2.6.4
pyTMD==2.1.0
Requests==2.31.0
scipy==1.12.0
setuptools==69.1.1
uvicorn==0.28.0
xarray==2024.2.0
zarr==2.17.1
